@import "tailwindcss";
@import "tw-animate-css";
@plugin "fluid-tailwindcss";

@custom-variant dark (&:is(.dark *));

@custom-variant hover (&:hover);

@theme inline {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-arvo);
  --font-mono: var(--font-jetbrains-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.65rem;

  --background: oklch(0.98 0.002 286);
  --foreground: oklch(0.15 0.008 286);

  --card: #fefefe;
  --card-foreground: oklch(0.15 0.008 286);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.15 0.008 286);

  --primary: oklch(0.55 0.2 264.376);
  --primary-foreground: oklch(0.99 0.005 286);

  --secondary: oklch(0.92 0.08 264.376);
  --secondary-foreground: oklch(0.2 0.01 264.376);

  --muted: oklch(0.94 0.004 286);
  --muted-foreground: oklch(0.4 0.02 286);

  /* --accent: oklch(0.94 0.04 264.376);
  --accent-foreground: oklch(0.2 0.01 264.376); */
  --accent: oklch(0% 0 0 / 0.075);
  --accent-foreground: oklch(0.15 0.008 286);

  --destructive: oklch(0.55 0.22 27.325);
  --border: oklch(0 0 0 / 12%);
  --input: oklch(0 0 0 / 15%);

  --ring: oklch(0.55 0.2 264.376);
}

.dark {
  --background: rgb(25, 29, 36);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.22 0.008 286);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.7 0.15 264.376);
  --primary-foreground: oklch(0.97 0.014 264.376);
  --secondary: oklch(0.28 0.08 264.376);
  --secondary-foreground: oklch(0.92 0.08 264.376);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.86 0.015 286.067);
  /* --accent: oklch(0.274 0.04 264.376);
  --accent-foreground: oklch(0.985 0.01 264.376); */
  --accent: oklch(100% 0.00011 271.152 / 0.075);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.7 0.15 264.376);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground overflow-hidden;
  }

  ::selection {
    background-color: var(--primary);
    color: var(--background);
  }
}

@layer utilities {
  /* A class to hide scrollbar */
  .scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}
